{% extends "base.html" %}

{% block content %}
  <div class="span11" style="overflow: auto">
    <div class="row-fluid">
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
        <div class="col-lg-3">
          <img src="http://lorempixel.com/214/317/?t=1">
        </div>
      </div>
  </div>
{% endblock %}
