body {
  padding-top: 50px;
}

/* Class for top fixed nav bar */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*.row-fluid{*/
     /*white-space: nowrap;*/
/*}*/
/*.row-fluid .col-lg-3{*/
     /*display: inline-block;*/
/*}*/

/* Change bootstrap padding */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="span"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}

.thumbnail{
    padding: 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    margin-bottom: 5px;
}
.thumbnail.selected {
    background: #0088cc;
}

/*pointer*/
.video_image{
    cursor: pointer;
    position:relative;
}
.video_image:hover .play{
    display:block
}

.video {
    background:red;
    float:left;
    position:relative
}

.play{
    position : absolute;
    display:none;
    top:40%;
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
}